body{
   
  background:  url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Bob-Marley.jpg/440px-Bob-Marley.jpg") no-repeat fixed center; 
  background-size: cover;
   background-color: rgba(255, 255, 255, 0.7);
 background-blend-mode: lighten;
  position: center;

}
h2{
  color: red;
  background-color: lightgreen;
}
h3{
  color:lightblue;
  background-color:red
}
h4{
  color:lightblue;
  background-color: darkgreen;
}
p{
  color:green;
  background-color: lightblue;
}
p1{
  color:purple;
  background-color:lightgreen;
}
form{
  background-color: lightgreen;
  width: 300px;
}